.testimonial-slider .slick-dots {
  bottom: -50px;
}

.testimonial-slider .slick-dots li button:before {
  font-size: 12px;
  color: #6b7280;
  opacity: 0.5;
}

.testimonial-slider .slick-dots li.slick-active button:before {
  color: #374151;
  opacity: 1;
}

.dark .testimonial-slider .slick-dots li button:before {
  color: #9ca3af;
  opacity: 0.5;
}

.dark .testimonial-slider .slick-dots li.slick-active button:before {
  color: #d1d5db;
  opacity: 1;
}